streamlit-folium
# Interface et dashboard
streamlit
streamlit-folium
plotly

# Cartographie et SIG
folium
geopandas
shapely
fiona
pyproj
rtree
pyogrio
branca

# Manipulation de données
pandas
numpy
requests

# Visualisation complémentaire
matplotlib
plotly

# Gestion des fichiers compressés ou distants
zipfile36
urllib3

# Autres utilitaires
openpyxl
